<h1>Results</h1>
<% @campaigns.each do |camp| %>
  <div class="campaign">
    <h2 class="campaign-name"><%= camp %></h2>
    <p class="candidate">
      <% @votes.distinct.pluck(:candidate).each do |cand| %>
        <p><%= cand %>: <%= @votes.where(candidate: cand).count %></p>
      <% end %>
    </p>
  </div>
<% end %>