<h1><%= @campaign.first.campaign %></h1>
<% @candidates.each do |c| %>
  <p><%= c %>: <%= @campaign.where(candidate: c, validity: "during").count %></p>
<% end %>
<p>Invalid votes: <%= @campaign.where.not(validity: "during").count + @campaign.where(candidate: "").count %>